<table class="table table-striped">
  <p><h1>The Rogers Blog</h1></p>

  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, :class => 'btn btn-large btn-success' %>


