<% @posts.each do |post| %>
    <article>
      <header>
        <p>
        <h2><%= link_to post.title, post %></h2>
        <h5><%= post.updated_at.to_formatted_s(:long_ordinal) %></h5>
        <p>
      </header>
      <p><%= post.content %></p>
      <footer>
        <h5>Posted by: <%= post.name %><h5>
      </footer>
    </article>
    <hr>
<% end %>

<br />

<%= link_to 'New Post', new_post_path, :class => 'btn btn-large btn-success' %>


