<p id="notice"><%= notice %></p>

<!-- Show this post -->
<article>
  <header>
    <p>
    <h2><%= link_to @post.title, @post %></h2>
    <h5><%= @post.updated_at.to_formatted_s(:long_ordinal) %></h5>
    <p>
  </header>
  <p><%= @post.content %></p>
  <footer>
    <h5>Posted by: <%= @post.name %><h5>
  </footer>
</article>

<br>

<!-- Display comment form so user can add a comment -->
<h3>Add a comment:</h3>
<%= render "comments/form" %>

<br>

<!-- Display all current comments -->
<article>
  <header>
    <p><h2>Comments</h2><hr><p>
  </header>
  <% if @post.comments.count != 0 %>
      <% @post.comments.each do |comment| %>
        <section>
          <p><h5><%= comment.commenter %></h5></p>
          <p><%= comment.body %></p>
          <hr>
        </section>
      <% end %>
  <% end %>
</article>

<!-- Links to go back, edit or delete this post -->
<%= link_to 'Back', posts_path %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>