<p id="notice"><%= notice %></p>

<!-- Show this post -->
<article>
  <header>
    <p>
    <h2><%= link_to @post.title, @post %></h2>
    <h5><%= @post.updated_at.to_formatted_s(:long_ordinal) %></h5>
    <p>
  </header>
  <p><%= @post.content %></p>
  <footer>
    <h5>Posted by: <%= @post.name %><h5>
  </footer>
</article>

<!-- Display comment form so user can add a comment -->
<h3>Add a comment:</h3>
<%= render "comments/form" %>

<!-- Display all current comments -->
<table class="table table-bordered">
  <tr><td><h3>Comments</h3></td></tr>
  <% if @post.comments.count != 0 %>
    <% @post.comments.each do |comment| %>
        <tr><td>
          <p><%= comment.commenter %> </p>
          <p><%= comment.body %></p>
        </td></tr>
    <% end %>
  <% end %>
</table>

<!-- Links to go back, edit or delete this post -->
<%= link_to 'Back', posts_path %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>